<div>
<button
  (click)="onCatch()"
  class="hover:bg-plumppurple hover:text-blue-200 bg-majorelleblue p-1 rounded-md text-white px-2 border-2"
>
  <ng-container *ngIf="!loading; else showLoader">
    <ng-component *ngIf="isFavorite; then favorite else default"></ng-component>
    <ng-template #favorite>
      Caught
    </ng-template>
    <ng-template #default>
      Catch
    </ng-template>
  </ng-container>

  <ng-template #showLoader>
    <span class="">Loading</span>
  </ng-template>
</button>
</div>

