<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" class="m-5">
  <fieldset class=" flex my-3 justify-center">
    <label for="username" class=""></label>
    <input
      ngModel
      #username="ngModel"
      type="text"
      name="username"
      id="username"
      class="border border-slate-300 p-2 rounded-md"
      placeholder="What's your name?"
    />
    <button type="submit" class="bg-lightmajorelleblue hover:bg-majorelleblue text-white p-2 rounded-md px-5 mx-2" >Login</button>
  </fieldset>
</form>
