<h1
  class="break-words font-thin text-5xl thin text-minionyellow text-center bg-darkslateblue font-Pokemon outline-5 p-6 "
>
  Pokemon Trainer App
</h1>
<nav
  class="bg-darkslateblue relative flex items-center justify-between px-1 h-12"
>
    <div class="flex space-x-4">
      <h1
        class="hover:bg-plumppurple hover:text-blue-200 text-white px-3 py-2 rounded-md text-xl font-normal"
      >
        Trainer
      </h1>
      <h1
        class="hover:bg-plumppurple hover:text-blue-200  text-white px-3 py-2 rounded-md text-xl font-normal"
      >
        Catalogue
      </h1>
    </div>
  <h1
    class="hover:bg-plumppurple flex content-end hover:text-blue-200 text-white px-3 py-2 rounded-md text-xl font-normal"
  >
    Logout
  </h1>
</nav>
<router-outlet class=""></router-outlet>
